div>*[contenteditable="true"] {
    border: 2px solid black;
    cursor: text;
    padding: 0 0.5rem 0 0.5rem;
}

.boardPage {
    display: flex;
    overflow-x: auto;
}

.cardboard {
    min-width: 20rem;
    max-width: 20rem;
    min-height: 50rem;
    background-color: white;
    border-radius: 12px;
    margin: 1rem 0 0 1rem;
    border: 2px solid rgba(43, 58, 78, 0.493);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cardboard-head {
    text-align: center;
    border-bottom: 2px dotted rgba(22, 55, 92, 0.1);
    background-color: rgba(43, 104, 173, 0.1);
    font-size: 1.3rem;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
}

.cardboard-head-options {
    border-width: 2px 2px 0 2px;
    text-align: center;
    border-style: solid;
}

.cardboard-card {
    margin: 0 auto 0 auto;
    padding-left: 0.5rem;
    width: 80%;
    min-height: 3rem;
    background-color: white;
    border: 2px solid black;
    border-radius: 8px;
    word-wrap: break-word;
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.cardboard-card:hover {
    background-color: rgba(43, 104, 173, 0.1);
    border-color: purple;
}

.card-popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.712);
}

.inside-card-popup {
    position: absolute;
    left: 25%;
    right: 25%;
    top: 15%;
    bottom: 15%;
    margin: auto;
    background: white;
    padding: 2rem;
    font-size: 1.3rem;
    overflow: auto;
}

.inside-card-popup>* {
    word-wrap: break-word;
    margin: 0 0 1rem 0;
}

.card-label {
    margin: 2px 0 0 2px;
    padding: 0 0.5rem;
    border-radius: 6px;
    min-width: 2.5rem;
    min-height: 1rem;
    max-height: 1rem;
    font-size: 0.75rem;
    color: white;
    padding-left: 0.5rem;
    overflow: hidden;
}

.board-tool>* {
    width: 15rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

.board-tool {
    margin: 1rem 0 0 1rem;
    padding: 1rem;
}

.add-board {
    font-size: 1.35rem;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.change-background {
    padding: 1rem;
    display: flex;
    place-items: center;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.delete-board {
    display: grid;
    align-items: center;
}

.members-tab-title {
    text-align: center;
    padding-bottom: 1rem;
    border-radius: 8px;
    color: rgb(15, 59, 24);
    background-color: rgba(43, 173, 71, 0.1);
    margin-bottom: rem;
}

.members-tab-users { 
    min-height: 14rem;
    max-height: 14rem;
    margin-top: 0.3rem;
    border: 2px solid rgba(169, 169, 169, 0.239);
    border-radius: 8px;
    overflow: auto; 
}

.members-tab {
    height: 22rem; 
    background-color: rgba(173, 164, 43, 0.1);
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}
 