.center {
  margin-left: 5rem;
  margin-right: 5rem;
}

.homeContainer {
  display: flex; 
  align-items: flex-start;
  margin-top: 2rem;
}

.homeContainer > * {
  margin-left: 0.5rem;
  margin-right: 0.5rem;  
} 

.bigsize {
  flex: 2 1 auto;
}

.panel {
  border: 2px solid rgba(128, 128, 128, 0.1); 
  border-radius: 10px;
  padding: 2rem;
}

@media only screen and (max-width: 600px) {
  .center { 
      margin-left: 2rem;
      margin-right: 2rem; 
  }

  .size4 {
    width: auto;
  }

  .homeContainer {
    align-items: stretch;
    flex-direction: column;
  }
}