.center {
  display: grid;
  place-items: center;
}

.homeContainer {
  display: flex;  
  align-items: flex-start;
  margin-top: 2rem;
}

.homeContainer > * {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.size4 {
  width: 60rem;
}

.panel {
  border: 2px solid rgba(128, 128, 128, 0.1); 
  border-radius: 10px;
  padding: 2rem;
}

.teamBoards { 
  background-color: rgba(58, 145, 245, 0.1);
  border-radius: 10px;
  margin-bottom: 1rem;
  padding: 1rem 0rem 0rem 1rem; 
}

.teamBordsItems {
  display: flex;   
}

.board {
  width: 15rem;
  height: 10rem;
  cursor: pointer; 
  overflow: hidden; 
  margin: 1rem 1rem 1rem 0;
  border: 2px solid black;
  border-radius: 10px; 
  padding-top: 0.5rem;
  font-size: 1.2rem; 
}

@media only screen and (max-width: 600px) {
  center {
    display: none;
    place-items: none;
  }

  .size4 {
    width: auto;
  }

  .homeContainer {
    align-items: stretch;
    flex-direction: column;
  }
}