.teamsPanel {
    display: grid; 
    place-items: center; 
}

.teams {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.team { 
    cursor: pointer;
    font-size: 1.5rem;
    color: white;
    background-color: orange;
    margin-bottom: 0.5rem;
    padding: 0.1rem 0.5rem;
    border: 2px solid purple;
    border-radius: 12px;
    overflow: auto;
    min-width: 20rem;
    max-width: 20rem;
}

.team-details {
    background-color: rgb(218, 216, 214);
    border: 2px solid darkred;
    margin: 0.2rem 0.2rem 0.7rem 0.2rem; 
    border-radius: 12px;
}

.team-details-members {
    overflow-x: auto;
    overflow-y: hidden;
    padding: 1rem 1rem 1rem 1rem;
    border: 1px solid black; 
    margin: 0 2rem 0 2rem;
    border-radius: 12px;
    background-color: white;
}

.team-details-members > * {
    display: inline;
}

.team-details > input {
    width: 50%; 
}