#topnavIcon {
  margin-left: 3rem; 
}
 
.row .col {
  float: none !important;
  margin-left: auto;
  margin-right: auto;
}

.roundBorder { 
  border-width: 2px;
  border-style: solid;
  border-radius: 25px;
} 

.specialTextColor {
  color: white;
  -webkit-text-fill-color: white;  
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

body { 
  background: url(/purpleForest.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} 