.tabs .indicator { 
    background-color: pink;
  }
   
.tabs .tab a.active {
    color: white;
}

.tabs .tab a:hover {
    color: pink;
}

.tabs .tab a {
    color: white;
}

#home {
    margin-left: 3rem; 
}